<nav class="dashboard-nav">
    <span class="page-name">Dashboard</span>
    <form method="POST" action="http://www.philiphilding.com/admin/dashboard/logout">
        <button class="logout-btn">Logout</button>
    </form>
</nav>

<section class="dashboard-content">
    <form method="POST" enctype="multipart/form-data" action="http://www.philiphilding.com/admin/dashboard/addProject" class="add-project">
        <h1 class="add-project-header">Add project</h1>
        <input class="add-project-input" name="projectName" placeholder="Project name" required type="text">
        <input class="add-project-input" name="projectTags" placeholder="Tags" required type="text">
        <input class="add-project-input" name="projectGithub" placeholder="Github-link" required>
        <input class="add-project-input" name="projectWebsite" placeholder="Website-link" required>
        <input class="add-project-file-select" name="projectPictureName" type="file" required>
        <textarea class="add-project-desc" name="projectDescription" placeholder="Description" required></textarea>
        <input type="submit" class="add-project-submit" value="SUBMIT">
    </form>
    <aside class="projects">
        <!--I Found this solution by random, I'm actually a god wth-->
        {{#each ProjectData}}
            <div class="project-div">
                <img class="project-div-img" src="{{project_pic_name}}">
                <form action="http://www.philiphilding.com/admin/dashboard/deleteproject" method="POST">
                    <input style="display: none;" name="projectName" value={{projectName}}>
                    <input type="submit" value="DELETE" class="projectDeleteBtn">
                </form>
                {{#each this}}
                    <p>{{this.githubLink}}</p>
                    <p>{{this.websiteLink}}</p>
                    <h1>{{this.projectName}}</h1>
                    <p>{{this.projectDescription}}</p>
                    <p>{{this.projectTags}}</p>
                {{/each}}
            </div>
        {{/each}}
    </aside>
</section>